<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./favicon.ico" />
    <%# 获取title并输出 %>
    <title><%- title %></title>
</head>

<body>
    <%- typeof content !== 'undefined' && content || '<div id="app"></div>' %>
    <%- context.renderScripts() %>
</body>

</html>